<?xml version="1.0" encoding="UTF-8" standalone="no"?><info>
	<configuration importVersion="0000000116" name="INC-PMC_dev" user="INC00718"/>
	<compartment name="sap.com_ESMP_BUILDT_1" variant="default"/>
	<compartment name="sap.com_LM-CORE_1" variant="default"/>
	<compartment name="sap.com_ENGINEAPI_1" variant="default"/>
	<compartment name="sap.com_BRMS-BUILDT_1" variant="default"/>
	<compartment name="sap.com_THL-CORE_1" variant="default"/>
	<compartment name="sap.com_WDEXTENSIONS_1" variant="default"/>
	<compartment name="sap.com_BPEM-CORE_1" variant="default"/>
	<compartment name="sap.com_BPEM-PP_1" variant="default"/>
	<compartment name="sap.com_LMNWAUIFRMRK_1" variant="default"/>
	<compartment name="sap.com_BRMS-CORE_1" variant="default"/>
	<compartment name="sap.com_EP-BASIS-API_1" variant="default"/>
	<compartment name="incture.com_PMC_PO_ADAPTER_1" variant="default"/>
	<compartment name="sap.com_LMCTC_1" variant="default"/>
	<compartment name="sap.com_BI-WDALV_1" variant="default"/>
	<compartment name="sap.com_SERVICE-COMP_1" variant="default"/>
	<compartment name="sap.com_PI-SCP-BUILDT_1" variant="default"/>
	<compartment name="sap.com_EP-RUNTIME_1" variant="default"/>
	<compartment name="sap.com_MMR_SERVER_1" variant="default"/>
	<compartment name="sap.com_COLLAB-ADP_1" variant="default"/>
	<compartment name="sap.com_CAF-MF_1" variant="default"/>
	<compartment name="sap.com_SERVERCORE_1" variant="default"/>
	<compartment name="incture.com_PMC_WORKBOX_1" variant="default"/>
	<compartment name="sap.com_BRMS-FACADE_1" variant="default"/>
	<compartment name="sap.com_BPEM-CONTENT_1" variant="default"/>
	<compartment name="sap.com_EP-CONNECTIVITY_1" variant="default"/>
	<compartment name="sap.com_BPEM-MM_1" variant="default"/>
	<compartment name="sap.com_EP_BUILDT_1" variant="default"/>
	<compartment name="sap.com_MOIN_BUILDT_1" variant="default"/>
	<compartment name="sap.com_FRAMEWORK-EXT_1" variant="default"/>
	<compartment name="incture.com_PMC_FRAMEWORK_1" variant="default"/>
	<compartment name="sap.com_CU-BASE-JAVA_1" variant="default"/>
	<compartment name="sap.com_BPEM-MON_1" variant="default"/>
	<compartment name="sap.com_WSRM_1" variant="default"/>
	<compartment name="sap.com_BI_UDI_1" variant="default"/>
	<compartment name="sap.com_BPEM-ACC_1" variant="default"/>
	<compartment name="sap.com_UISAPUI5_JAVA_1" variant="default"/>
	<compartment name="sap.com_EP-CONNECTIVITY-EXT_1" variant="default"/>
	<compartment name="sap.com_J2EE-FRMW_1" variant="default"/>
	<compartment name="sap.com_VCBASE_1" variant="default"/>
	<compartment name="sap.com_BI-BASE-S_1" variant="default"/>
	<compartment name="sap.com_ESCONF_BUILDT_1" variant="default"/>
	<compartment name="sap.com_LMNWACDP_1" variant="default"/>
	<compartment name="incture.com_INC_LIBS_1" variant="default"/>
	<compartment name="sap.com_BPEM-BUILDT_1" variant="default"/>
	<compartment name="sap.com_SAP_BUILDT_1" variant="default"/>
	<compartment name="sap.com_BRMS-BASE_1" variant="default"/>
	<compartment name="sap.com_CU-BASE-WD_1" variant="default"/>
	<compartment name="sap.com_BPEM-BASE_1" variant="default"/>
	<compartment name="sap.com_EP-MODELING_1" variant="default"/>
	<compartment name="sap.com_VCFREESTYLEKIT_1" variant="default"/>
	<compartment name="sap.com_COMP_BUILDT_1" variant="default"/>
	<compartment name="sap.com_BPEM-TM_1" variant="default"/>
	<compartment name="sap.com_ECM-CORE_1" variant="default"/>
	<compartment name="sap.com_EP-BASIS_1" variant="default"/>
	<compartment name="sap.com_EP-ADMIN_1" variant="default"/>
	<compartment name="sap.com_BPEM-COLLAB_1" variant="default"/>
	<compartment name="sap.com_BPEM-DEMO_1" variant="default"/>
	<compartment name="sap.com_VCFRAMEWORK_1" variant="default"/>
	<compartment name="sap.com_CU-WD4VC-ADPT_1" variant="default"/>
	<compartment name="sap.com_VCCORERT_1" variant="default"/>
	<compartment name="sap.com_ENGFACADE_1" variant="default"/>
	<compartment name="sap.com_FP-INFRA_1" variant="default"/>
	<compartment name="incture.com_BPM_PROCESS_1" variant="default"/>
	<compartment name="sap.com_WD-RUNTIME_1" variant="default"/>
	<compartment name="sap.com_CAF_1" variant="default"/>
	<compartment name="sap.com_DATA-MAPPING_1" variant="default"/>
	<compartment name="sap.com_VTP_BUILDT_1" variant="default"/>
	<compartment name="sap.com_BPEM-FACADE_1" variant="default"/>
	<compartment name="sap.com_BPEM-CUUI_1" variant="default"/>
	<compartment name="sap.com_BPEM-HIM_1" variant="default"/>
	<compartment name="sap.com_FRAMEWORK_1" variant="default"/>
	<compartment name="sap.com_BPEM-WDUI_1" variant="default"/>
</info>