@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sapMTitle{
	color: #ffffff;
}

.sapMPanelExpandableIcon {
    color: #ffffff;
}

.textWhiteClass {
	color: #ffffff !important;
}

.searchBarHeaderStyleClass {
	background: #333030;
	padding-left: 20px;
}

.processNameHeadingStyleClass{
	font-size: 1.05rem;
    font-weight: 600;
    font-family: Open Sans !important;
    color: #ffffff;
    margin-top: 1rem;
}

.filterBarStyleClass.sapUiCompFilterBar {
	background-color: #333030 !important;
}

.filterBarStyleClass .sapMLabel {
	font-family: Open Sans !important;
	font-size: 0.8rem;
	font-weight: bold;
	color: #ffffff;
}

.outerBoxStyleClass {
	border: 1px solid gainsboro;
	background: #333030;
	margin: 2%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-top: 15px;
	width: auto !important;
}

.panelBoxStyleClass{
	border: 1px solid gainsboro;
	background: #333030;
	left: 0.65%;
    width: 95.7% !important;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-top: 15px;
}

.panelBoxStyleClass .sapMPanelBGTranslucent{
	background-color: rgba(255, 255, 255, 0);
}


.rulesOuterBoxStyleClass {
	border: 1px solid gainsboro;
	background: #333030;
	margin: 2%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-top: 15px;
	width: auto !important;
}

.legendBarStyle {
	border-top: 1px solid #d2cfcf;
	background: #333030;
	padding-left: 20px;
	height: 3.8rem;
}

.processLegendTextClass {
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 600;
	margin-top: 0.2rem;
	margin-right: 0.8rem;
	padding-left: 0.3rem;
	font-family: Open Sans !important;
}

.totalLegendTextClass {
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 600;
	margin-top: 0.2rem;
	margin-right: 0.8rem;
	padding-left: 2rem;
	font-family: Open Sans !important;
}

.pmcBackGroundColor {
	background: #737373;
}

.searchBarHeaderLblStyleClass {
	font-size: 0.85rem !important;
	font-weight: bolder !important;
	font-family: Open Sans !important;
	color: #ffffff;
}

.sapMListBGTranslucent .sapMLIB {
	background: #ffffff !important
}

.tableHeader .sapMListTbl th {
	background: #f3af5e;
	border-bottom: 2px solid #e4e4e4;
}

.userWorkLoadNamestyle {
	font-size: 1.3rem;
	font-weight: 600;
	font-family: Open Sans !important;
	color: #000000;
}

.userWorkLoadLblStyle {
	font-size: 0.8rem;
	font-weight: 600;
	color: #dcdcdc;
	font-family: Open Sans !important;
	width: 7rem !important;
}

.userWorkLoadKeyStyle {
	font-size: 0.8rem;
	color: #ffffff;
	width: 50rem;
	font-family: Open Sans !important;
}

.sapMITBContent {
	background: #333030;
}

.userWorkLoadDetailsTitalLblClass {
	color: #dcdcdc;
	font-size: 0.9rem;
	font-weight: bold;
	font-family: Open Sans !important;
}

.userWorkLoadKeyClass {
	color: #ffffff;
	font-size: 1rem;
	font-weight: 700;
	font-family: Open Sans !important;
}

.processHeaderToolBarStyleClass {
	border: 1px solid #e5e5e5;
	border-left: 0px;
	border-right: 0px;
	background: #e4e4e4;
}

.tableBorderClass .sapMListTblCell {
	border-left: 1px solid #737373 !important;
	border-top: 1px solid #737373 !important;
}

.processTableBorderStyleClass {
	border: 1px solid #737373 !important;
}

.sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {
	color: #ffffff;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.graphLabel {
    width: 4.5rem;
    margin: 0.5rem;
    margin-top: 0.75rem;
	color: #ffffff !important;
}

.processFlowPage {
	background-color: #333030;
}

.statusHeaderTextStyle {
	color: #c3c3c3;
	font-family: Open Sans !important;
	font-size: 0.85rem;
	margin-top: 0.2rem;
	margin-left: 0.5rem;
}

.processHeaderStyle {
	background-color: #252525;
	height: -webkit-fill-available;
}

.taskRightHeaderLblClass {
	color: #bbbbbb;
	padding: 1.5rem;
	font-size: 0.8rem;
	font-family: Open Sans !important;
	width: 15rem;
	font-weight: 600
}

.taskHeaderLblClass {
	color: #bbbbbb;
	padding: 1.1rem;
	padding-top: 0.1rem;
	padding-left: 1.5rem;
	font-size: 0.8rem;
	width: 6rem;
	font-family: Open Sans !important;
	font-weight: 600
}

.taskHeaderFieldClass {
	font-weight: 600;
	font-family: Open Sans !important;
	color: #f3f3f3;
	font-size: 0.8rem;
	padding-top: 0.1rem;
}

.taskHeaderStatusClass {
	font-weight: 600;
	font-family: Open Sans !important;
	color: #ffffff;
	font-size: 0.75rem;
	padding-top: 0.1rem;
}

.outerBoxProcessAgingStyleClass {
	border: 1px solid gainsboro;
	background: #333030;
	margin: 1.5%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-top: 15px;
	width: 97%;
}

.processAgingBarLabelClass{
	margin-left: 1rem !important;
    font-size: 0.85rem;
    font-family: Open Sans;
    font-weight: bold;
    color: #ffffff;
}

.docHdrblClass{
	margin-left: 1rem !important;
    font-size: 0.85rem !important;
    font-weight: bold;
    color:#ffffff;
}

.processListHeaderStyleClass{
	padding: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: #ffffff;
    font-family: Open Sans !important;
}

.personalHeaderKeyStyleClass{
	padding: 1rem;
	padding-left: 2.5rem;
	padding-bottom: 0rem;
    font-weight: 600;
    color: #ffffff;
    width: 4rem;
    font-family: Open Sans !important;
}

.personalHeaderValueStyleClass{
	padding: 1rem;
	padding-bottom: 0rem;
    color: #ffffff;
    font-family: Open Sans !important;
}

.processListStyleClass{
	padding: 1rem;
    padding-bottom: 0.6rem;
    padding-top: 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #c5c5c5;
    font-family: Open Sans !important;
    width: 13rem;
    cursor: pointer;
}

.processListItemBoxInActiveStyleClass:hover {
    background: #505050;
}

.processListItemBoxActiveStyleClass{
	background: #676767;
}

.slaHeaderBgStyleClass{
	background: #676767;
    border-bottom: 1.3px solid #333030;
}

.processConfigTitleStyleClass{
	padding: 1rem;
    padding-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: #f7f7f7;
    font-family: Open Sans !important;
}

.slaTableBorderClass .sapMListTblCell {
	border-left: 1px solid #737373 !important;
    border-top: 1px solid #737373 !important;
    padding-bottom: 0.2rem;
}

.slaHeaderKeyStyleClass{
	padding: 0rem;
    padding-top: 0.7rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #c5c5c5;
    font-family: Open Sans !important;
    width: 7rem;
}

.slaHeaderValueStyleClass{
    padding: 0rem;
    padding-top: 0.7rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
    font-family: Open Sans !important;
}

.ruleSearchGridLbl {
    font-size: 1rem;
    margin: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    font-family: Open Sans !important;
}

.slaDateStyle {
	color: #ffffff;
	font-family: Open Sans !important;
	font-size: 0.8rem;
	font-style: Italic;
}

.adminTableBorderClass .sapMListTblSelCol+.sapMListTblCell {
	padding-left: 8px;
}

.adminTableBorderClass .sapMListTblSelCol {
	border-right: 1px solid #e5e5e5 !important;
}

.adminTableBorderClass .sapMListTblCell {
    border: 1px solid #b7b7b7 !important;
}

.adminOuterBoxStyleClass {
	border: 1px solid white;
    background: #333030;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 5px;
    top: -1.3rem;
}

.sectionHeaderStyleClass{
	width: 100%;
 	height: 2rem;
    margin-left: 1rem !important;
    margin-top: 1rem;
    border: rgba(229, 229, 229, 0);
}

.sectionHeaderLabelStyleClass{
    font-size: 0.85rem;
    font-weight: bold !important;
}

.sectionHeaderLabelStyleClass.sapMText{
	color:#000000 !important;
}

.sapMTB-Transparent-CTX .sapMText{
	text-shadow:none !important;
}


.tableHeaderLblStyle {
	font-size: 0.8rem !important;
    color: #100101 !important;
}

.buttonRadiusStyleClass.sapUiSizeCompact .sapMBtnInner{
	border-radius: 4px;
}

.workloadTitleStyleClass {
	font-size: 0.9rem;
    color: #6d6d6d;
    font-weight: bold !important;
    border-bottom-color: #6d6d6d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 0.3rem;
    font-family: Open Sans !important;
}

.borderRadiusClass {
	border-radius: 3px;
}

.sapUiSizeCompact .sapMInputBaseInner{
	border-radius: 3px;
}

.lowWorkLoadLegendStyle {
	width: 1.1rem;
	height: 1.1rem;
	background: #fcf2d1;
	margin-top: 0.3rem;
	border: 0.1rem #ffe9a0;
	border-style: solid;
}

.normalWorkLoadLegendStyle {
	width: 1.1rem;
	height: 1.1rem;
	background: #fff1b2;
	margin-top: 0.3rem;
	border: 0.1rem #fbe087;
	border-style: solid;
}

.highWorkLoadLegendStyle {
	width: 1.1rem;
	height: 1.1rem;
	background: #fdd183;
	margin-top: 0.3rem;
	border: 0.1rem #ffc400;
	border-style: solid;
}

.workloadCountBoxClass {
	margin-left: 1.4rem;
}

.addButtonClass{
	left:-0.5rem;
	top:-0.2rem;
}

.addButtonClass .sapMBtnInner {
	width: 2.15rem;
    height: 2.15rem;
    background-color: #008000 !important;
    border-radius: 25px;
}

.addButtonClass .sapMBtnIcon {
	color: #ffffff !important;
    font-size: 1.500rem;
    margin-right: 0.3rem !important;
    margin-left: 0rem !important;
    margin-top: 0.2rem !important;
}

.deleteButtonClass .sapMBtnIcon {
	color: #af0000 !important;
	font-size: 1.500rem;
}

.barClass{
	background-color: #333030 !important;
    height: 3rem;
    padding-left: 0.5rem;
    background: transparent;
    border-bottom: 2px solid #c0c0c0;
}

.barClass .sapMText {
    color: #ffffff !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
}

.tabBarClass .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
	color: #ffffff;
}

.UWLtabBarClass .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
	color: #ffffff;
}

.userWorkLoadTabStyleClass .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
	color: #ffffff;
}

.UWLlabelStyle.sapMLabel{
	color: #ffffff;
}

.userWorkLoadTabStyleClass .sapMITBSelected>.sapMITBContentArrow {
	border-bottom-color: #000000;
}

.UWLtabBarClass .sapMITBSelected>.sapMITBContentArrow {
	border-bottom-color: #000000;
}

.tabBarClass .sapMITBSelected>.sapMITBContentArrow {
	border-bottom-color: #000000;
}

.msgNameStyleClass, .msgTimeStyleClass{
    color: #ffffff !important;
}

.commentStyle{
	color: #b9b9b9 !important;
}

.addCommentBox {
    border: 0.01rem solid grey;
    background: rgba(173, 172, 172, 0.3);
    border-radius: 5px;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.commentBoxOutSideStyle .sapMInputBaseInner {
    border: none;
    background: transparent;
    width: 20rem;
    color: #ffffff;
}

.msgSendBtnStyle .sapMBtnIcon {
    color: #bdbdbd !important;
}

.adminConsoleSidePanel{
	border-right: 1px solid gainsboro;
    background: #333030;
    width: 10rem;
}

.workloadConfiStyle{
	background: #e2e2e2;
}

rect.v-background-body.viz-plot-background.v-morphable-background {
    fill: #333030 !important;
}
	
.userAccessBarStyle{
	background: #e2e2e2;
}

.dialogBgClass{
	background: #2c2b29 !important;
}

.mailTextStyle {
	color: #ffffff;	
}

.dialogClass .sapMFooter-CTX {
	background: #2c2b29 !important;
}

.dialogClass .sapMFooter-CTX div.sapMBtnInner, .dialogClass .sapMFooter-CTX div.sapMBtnInner :hover{
	color: #ffffff;
}

.dialogBgClass .sapMListBGTranslucent .sapMLIB{
	background: #2c2b29 !important;
}

.popOverbgStyle, .popOverbgStyle.sapMPopup-CTX .sapMIBar.sapMHeader-CTX, .popOverbgStyle .sapMIBar-CTX.sapMFooter-CTX{
	background: #2c2b29 !important;
}

.popOverbgStyle .sapMPopoverHeader .sapMTitle{
	color: #ffffff;
}